{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
    tab {
    display: inline-block;
    margin-left: 500px;
}
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 80%;
      
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .container {
      padding: 2px 16px;
      justify-content: center;
    }
    </style>



<br>
<br>
<br>
<br>







<tab>
<div class="card">
    <img src="{{eventdetails.img.url}}" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>{{eventdetails.event_name}}</b></h4> 
      <p>{{eventdetails.description}}</p> 
    </div>
  </div>
</tab>
{% endblock %}